<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="style.css">
    <%= t.include("partials/_adHead.html") %>
  </head>
  
  <body ng-app="teacher-pay">
     
    <div ng-controller="SalaryController" ng-cloak>
      <div class="title">How Much Are Teachers Paid In Washington State?</div>
      <div class="chatter">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean id massa in nunc suscipit molestie. Nulla sagittis bibendum tellus. Nulla porttitor turpis et feugiat dictum. Duis nibh leo, malesuada euismod tristique quis, facilisis sit amet ipsum. Donec aliquam suscipit fringilla.</div>

      <div class="outer">
        <div class="left">

          <div ng-click="setPayPoint('low')">Low</div>
          <div ng-click="setPayPoint('middle')">Middle</div>
          <div ng-click="setPayPoint('high')">High</div>

          <div class="row-wrapper" ng-repeat="district in districts | orderBy:ordering" flip-on>
            <div class="row" ng-click="setDistrict(district)" ng-class="{'selected': district == featuredDistrict}" >
              <div class="name">{{district.title}}</div>
              <div class="bar-container">
                <div class="base bar" delayed-style="{ width: district['base-'+payPoint+'-bar'] + '%' }"></div>
                <div class="tri bar" delayed-style="{ width: district['tri-'+payPoint+'-bar'] + '%' }">
                  <div class="bar-number">${{district['sum-'+payPoint]}}</div>
                </div>
              </div>
              <div class="filler"></div>
            </div>
            <div class="triangle" ng-show="district == featuredDistrict"></div>
          </div>
        </div>

      <div class="modal" ng-class="{'mobile-show': dialogue}">
        <div class="right">
          <%= t.include("card.html") %>
        </div>
      </div>
      </div>
    </div>

    <script>
      var salaryData = <%= JSON.stringify(json.TeacherPay2015_Data) %>
    </script>
    <script src="app.js"></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_adFoot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
